<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-left" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation" (click)="navShow = !navShow">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']">י.ח.ד. - ניהול לקוחות</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navShow}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/search']" (click)="navShow = false" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">בית</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['newCustomer']" (click)="navShow = false" routerLinkActive="active">הוסף לקוח</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customers-list']" (click)="navShow = false" routerLinkActive="active">רשימת לקוחות</a>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0 search">
        <input class="form-control ml-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>