<h1>
  הוסף לקוח
</h1>
<div class="form-container">
  <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
    <div class="form-group">
      <label for="customerName">*שם חברה</label>
      <input type="text" class="form-control" id="customerName" formControlName="customerName" name="customerName" placeholder="שם חברה">
      <div class="error-message" *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.dirty">
          יש להכניס שם חברה
      </div>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="city">עיר</label>
        <input type="text" class="form-control" id="city" formControlName="city" name="city" placeholder="עיר">
      </div>
      <div class="form-group">
        <label for="street">רחוב</label>
        <input type="text" class="form-control" id="street" formControlName="street" name="street" placeholder="רחוב">
      </div>
      <div class="form-group">
        <label for="buildingNumber">מספר בית</label>
        <input type="text" class="form-control" id="buildingNumber" formControlName="buildingNumber" name="buildingNumber" placeholder="מספר בית">
      </div>
      <div class="form-group">
        <label for="apartmentNumber">מספר דירה</label>
        <input type="text" class="form-control" id="apartmentNumber" formControlName="apartmentNumber" name="apartmentNumber" placeholder="מספר דירה">
      </div>
    </div>
    <div class="form-group">
      <label for="phone">טלפון</label>
      <input type="tel" class="form-control" id="phone" formControlName="phone" name="phone" placeholder="טלפון">
    </div>
    <div class="form-group">
      <label for="fax">פקס</label>
      <input type="tel" class="form-control" id="fax" formControlName="fax" name="fax" placeholder="פקס">
    </div>
    <div class="form-group">
      <label for="email">דוא"ל</label>
      <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="דוא&ldquo;ל">
      <div class="error-message" *ngIf="customerForm.controls.email.hasError('pattern')">
          כתובת מייל לא תקינה
      </div>
    </div>
    <div class="form-group">
      <label for="website">אתר אינטרנט</label>
      <input type="text" class="form-control" id="website" formControlName="website" name="website" placeholder="אתר אינטרנט">
    </div>
    <button type="submit" class="btn btn-outline-primary" [disabled]="customerForm.invalid">שמור</button>
  </form>
</div>