<div class="row">
  <div class="detial-customer-container col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="header-detail-customer">
      <h3>{{(customer.customerName)}}</h3>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          כתובת:
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          {{(customer.address.city)}}, {{(customer.address.street)}}
          <span *ngIf="customer.address.buildingNumber"> {{customer.address.buildingNumber}} </span>
          <span *ngIf="customer.address.apartmentNumber">, דירה {{customer.address.apartmentNumber}}</span> 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          טלפון:
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          {{(customer.phone)}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          פקס:
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          {{(customer.fax)}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          דוא"ל:
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div>
            <a [href]="'mailto:' + customer.email">{{customer.email}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          אתר:
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <a [href]="customer.website"  target="_blank">{{customer.website}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="detial-customer-container col-lg-11 col-md-11 col-sm-12 col-xs-12">
    asdasd
    asdasdasd
    asdasdasd
    asdasd
    asdasd

    asdasd
    </div>
  </div>
</div>