<h1> רשימת לקוחות </h1>
<div class="table-responsive desktop">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>שם חברה</th>
        <th>כתובת</th>
        <th>מספר </th>
        <th>פקס</th>
        <th>דוא"ל</th>
        <th>אתר אינטרנט</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers | async">
        <td><a [routerLink]="['/customer', customer.$key]">{{customer.customerName}}</a></td>
        <td>
          {{customer.address.city}},  {{customer.address.street}}
          <span *ngIf="customer.address.buildingNumber"> {{customer.address.buildingNumber}} </span>
          <span *ngIf="customer.address.apartmentNumber">, דירה {{customer.address.apartmentNumber}}</span>
        </td>
        <td>{{customer.phone}}</td>
        <td>{{customer.fax}}</td>
        <td><a [href]="'mailto:' + customer.email">{{customer.email}}</a></td>
        <td><a [href]="customer.website"  target="_blank">{{customer.website}}</a></td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/editCustomer', customer.$key]">ערוך</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row mobile">
  <div class="col-sm-5 col-xs-12 box" *ngFor="let customer of customers | async">
    <div class="detial-customer-container">
      <div class="header-detail-customer">
        <h3><a [routerLink]="['/customer', customer.$key]">{{customer.customerName}}</a></h3>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            כתובת:
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{(customer.address.city)}}, {{(customer.address.street)}}
            <span *ngIf="customer.address.buildingNumber"> {{customer.address.buildingNumber}} </span>
            <span *ngIf="customer.address.apartmentNumber">, דירה {{customer.address.apartmentNumber}}</span> 
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            טלפון:
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{(customer.phone)}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            פקס:
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{(customer.fax)}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            דוא"ל:
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a [href]="'mailto:' + customer.email">{{customer.email}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            אתר:
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a [href]="customer.website"  target="_blank">{{customer.website}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <button class="btn btn-outline-primary" [routerLink]="['/editCustomer', customer.$key]">ערוך</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>