.contacts-container{
    padding: .5em;
}

.contact-name{
    text-align: right;
    color: inherit;
    font-size: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
}

.contact-details{
    position: absolute;
    text-align: right;
    font-weight: normal;
    max-height: 10em;
    overflow: auto;
    cursor: default;
    z-index: 62;
    width: 353px;
    right: -2em;
    top: calc(100% + 2em);
    color: #585e6a;
    padding: 1em;
    background-color: #fff;
    border: solid 1px #b1aeae;
    box-shadow: 0px 7px 10px rgba(0,0,0,.35);
    pointer-events: none;
    opacity: 0; 
    transform: translate(0,-3em) scale(.7);
    transition: all .25s;
    font-family: SANS-SERIF;
}

.contact-name:focus .contact-details{
    opacity: 1;
}

.contact {
    position: relative;
    margin: 0 15px;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;*/
}

.contact .contacttext {
    position: absolute;
    text-align: right;
    font-weight: normal;
    max-height: 10em;
    z-index: 1;
    width: 353px;
    right: 2.5em;
    top: calc(100%);
    color: #585e6a;
    padding: 1em;
    background-color: #fff;
    border: solid 1px #b1aeae;
    box-shadow: 0px 7px 10px rgba(0,0,0,.35);
    -webkit-transform: translate(0,-3em) scale(.7);
    transform: translate(0,-3em) scale(.7);
    transition: all .25s;
    font-family: SANS-SERIF;
    opacity: 0;
    visibility: hidden;
}

.contact .contacttext::after {
    content: "";
    position: absolute;
    top: 18%;
    right: -27px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent transparent #b1aeae;
}

.contact:hover .contacttext, .contact:focus .contacttext {
    opacity: 1;
    visibility: visible;
}				


